<asid id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
          <span class="material-icons-outlined">inventory</span> Leipzig
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
      </div>
      
      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="./dashboard.php" target="_self">
            <span class="material-icons-outlined">dashboard</span> Dashboard
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="./Manufacture.php" target="_self">

            <span class="material-icons-outlined">construction </span> Manfacture
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="./inventory.php" target="_self">
            <span class="material-icons-outlined">inventory_2</span> Inventory
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="./supplychain.php" target="_self">
            <span class="material-icons-outlined">fact_check</span> SupplyChain
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="./suppliers.php" target="_self">
            <span class="material-icons-outlined">group</span> Suppliers
          </a>
        </li>
        <li class="sidebar-list-item">
            <a href="./part.php" target="_self">
              <span class="material-icons-outlined">settings</span> Product
            </a>
          </li>
      </ul>
</asid>